@font-face {
  font-family: "Yekan";
  src: url('fonts/Yekan.eot?1439716606');
  src: url('fonts/Yekan.eot?&1439716606#iefix') format('embedded-opentype'), url('fonts/Yekan.ttf?1439716606') format('truetype'), url('fonts/Yekan.woff?1439716606') format('woff');
  font-weight: normal; }

body {
	direction: rtl;
	unicode-bidi: embed;
	font-family : "Yekan" !important;
    color: #3C3C3C !important;

}
footer label{
  color: #fff !important;
}
h1,h2,h3,h4,h5,h6,p,label,input,button,li,ul{
	font-family : "Yekan" !important;

}

body.intro-page-body .header-wrapper {
    display: none;
}
.rtl .content-area .right {
    float: right;
}

.rtl .content-area .left {
    float: left;
}*/
/*----------------- header Menu ----------------*/
@media screen and (min-width: 993px){
	.cshero-menu-dropdown > ul > li {
	    float: right;
	}
}

#cshero-header ul.cshero-dropdown > li > a, #cshero-header .menu-pages .menu > ul > li > a {
    font-size: 16px;
    font-family : "Yekan" !important;
    font-weight: 600;

}
#cshero-header ul.cshero-dropdown ul > li > a {
    font-size: 16px;
    color: #444444;
}
.cshero-header-content-widget.cshero-menu-mobile.hidden-lg.hidden-md.right{
  float : left;
  font-size : 120%;
}

.vc_separator .vc_sep_holder .vc_sep_line {
    top: 6px;
}
/*-------------------- body-------------------*/
.title-construction .wpb_wrapper > h3:before {
   left : auto;
    right: 0;
 }

.single-post #cs-page-title-wrapper {
    padding: 22px 0 22px 0;
}
.cs-blog.cs-blog-item.cs-blog-item-style1 {
    margin-top: 70px;
}
#cs-page-title-wrapper .title_bar .page-title {
    color: #fff !important;
    font-size: 18px !important;
}
h2.cs-hedding-title{
font-size: 18px !important;
}
 .vc_tta-color-blue.vc_tta-style-modern .vc_tta-panel .vc_tta-panel-title > a {
    font-size: 16px !important;
   line-height: 1.5;
}
.vc_tta.vc_general .vc_tta-panel-title h4,span.vc_tta-title-text,
.vc_tta.vc_general .vc_tta-panel-title {
    margin: 0;
    line-height: 1.5;
    font-size: 16px !important;
}
.vc_tta.vc_general {
    font-size: 16px !important;
}
/*.vc_tta-color-blue.vc_tta-style-modern .vc_tta-panel.vc_active .vc_tta-panel-heading {
    border-color: #8078F5;
}
.vc_tta-color-blue.vc_tta-style-modern .vc_tta-panel.vc_active .vc_tta-panel-body{
	border-color: #8078F5;
}*/
.mymail-wrapper .submit-button.button{
padding-top  : 7px;
padding-bottom : 12px;
margin-top : 15px;
}
.searchform input[type="submit"] {
    left: 0;
      right: auto;
}
.searchform::before {
    left: 14px;
    right: auto;
}
.cs-blog-item-style1 .cs-blog-info .cs-date span:nth-child(1) {
    color: #343A86;
}
.cs-blog-item-style1 .cs-blog-info .cs-date {
    padding-left: 10px;
}
.cs-blog-item-style1 .cs-blog-info .cs-date span:nth-child(2) {
    color: #CBA412;
}
.navigation .nav-previous{
    float: right;
}
.navigation .nav-next {
    text-align: left;
    float: left;
}
h3.wg-title a{
  color : #FFCB0C !important;
}
.widget_login_wid label{
  width : 100%;
}
.widget_login_wid input[type="submit"]{
  padding-top: 7px;
  color : #fff !important;
}
.widget_login_wid input[type="submit"]:hover,
.widget_login_wid input[type="submit"]:focus{
  color : #000 !important;
}
.mymail-submit-wrapper input[type="submit"]{
  color : #fff !important;
}
.mymail-submit-wrapper input[type="submit"]:hover,
.mymail-submit-wrapper input[type="submit"]:focus{
  color : #000 !important;
}
.widget_login_wid label[for="login"] {
    display: none;
}
.widget_search #s{
  color : #000;
}
form input {
    color: #000 !important;
}
.footer-bottom{
  font-size : 90%;
}
@media screen and (min-width:993px){
.cshero-menu-dropdown > ul > li{display:inline-block;float:right;}
}
@media (max-width:1200px) and (min-width: 992px) {
#wrapper #cshero-header ul.cshero-dropdown > li > a {
     padding: 0 11px;
  }
  .csbody #wrapper .btn {
    font-size: 14px;
      padding: 12px 26px;
  }
}
